### AL ###
# Template for AL projects for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

### .NET / Visual Studio ###
# Build results
bin/
obj/

# VS tooling
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/
*.sln.iml

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
# Visual Studio cache/options
*.cache
